html{
    overflow: hidden;
}
:root{
    --vermelho:red;
    --preto:black;
    --cinza:gray;
    --cinza-escuro:rgb(43, 43, 43);
    --cinza-escuro-transparente:rgba(43, 43, 43, 0.8);
}
.img--Fundo{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}
a{
    text-decoration: none;
}
.cabeçalho{
    display: flex;
    color:white;
    background: var(--cinza-escuro);
}
.img--cabeçalho{
    position: absolute;
    top: 5%;
    left: 5%;
}
.cabeçalho-pesquisa{
    position: absolute;
    left: 95%;
    top: 5%;
}
.container{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--cinza-escuro-transparente);
    border-radius: 10px;
}
.container--TV{
    text-align: center;
    padding: 15px;
    color: white;
}
.container--Filmes{
    text-align: center;
    padding: 15px;
    color: white;
}
.container--Series{
    text-align: center;
    padding:15px;
    color: white;
}
.img--TV{
    width: 50%;
}
.img--Filmes{
    width: 50%;
}
.img--Series{
    width: 50%;
}