:root {
    --fonte-principal:"Poppins";
    --vermelho: #E50914;
    --preta: #141414;
    --cinzagra:linear-gradient(0deg, #000000 35.49%, #1f1f1f 165.37%);
    --cinzagraops:linear-gradient(180deg, #000000 35.49%, #1f1f1f 165.37%);
}
@media screen and (max-width: 768px) {
    body {
        font-family: var(--fonte-principal);
        background:#000000;
        color: white;
        width: 100%;
        overflow-x:hidden;
        height: 100vh;
        
    }
    
    nav.Barra-Lateral{
        width: 150px;
        height: 100%;
        background-color:#0e0e0e ;
        padding: 40px 0 0px 0;
        box-shadow: 0 0 50px #0e0e0e;
        position: fixed;
        top: 0px;
        left: -42px;
        overflow: hidden;
        transition: .4s ease-out;
        z-index: 10;
    }
    nav.Barra-Lateral.expandir{
        width: 300px;
    }
    .btn-expandir{
        width: 100%;
        padding-left: 75px;
    }
    .btn-expandir > i{
        color:white;
        font-size: 30px;
        cursor: pointer;
    }
    .img--cabeçalho{
        position: relative;
        left: 2%;
        padding-left: 40px;
        transition: .5s;
        opacity: 0;
    }
    ul{
        height: 100%;
        list-style-type: none;
    }
    ul li.item-menu{
        transition: 0.5s ease;
        
    }
    ul li.ativo{
        background-color: #1f1f1f;
    }
    ul li.item-menu:hover{
        background-color: #353535;
    }
    ul li.item-menu a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        padding: 20px 0;
        display: flex;
        margin-bottom: 20px;
        line-height: 40px;
    }
    ul li.item-menu a .txt-link{
        margin-left: 80px;
        white-space: nowrap;
        transition: .5s;
        opacity: 0;
    }
    nav.Barra-Lateral.expandir .txt-link{
        margin-left: 45px;
        opacity: 1;
    }
    ul li.item-menu a .icon > i{
        font-size: 30px;
        padding-left: 35px;
    
    }
    .video-js{
        width: 0px;
        left: 0px;
        top: 0px;
    }
    
    .header{
        position: absolute;
        background: var(--cinzagra);
        height: 80px;
        width: 100%;
        top: 0px;
        left: 0px;
        color: white;
        z-index: 8  ;
    }
    .cabeçalho-pesquisa{
        display: inline-block;
        position: absolute;
        left: 79%;
    }
    .Filmes-Disponiveis{
        display: inline-block;
    position: relative;
    top: 45px;
    left: 130px;
    white-space: nowrap;
    font-size: 30px;
    }
    .Alinhar{
        display: inline-block;
        position: absolute;
    }
    .Filtro{
        position: absolute;
    padding: 10px 30px;
    left: 450px;
    top: 70px;
    font-size: 17px;
    background-color: #353535;
    color: white;
    border-radius: 25px;
    text-align: center;
    border-color: #353535;
    }
    .Texto-Filtro{
        visibility: hidden;
    }
    .Lista-Filmes{
        display: inline-block;
        position: absolute;
        left: 38%;
        white-space: nowrap;
    }
    
    .Capa-Geral{
        position: relative;
        width: 300px;
        height: 500px;
        display: block;
        border-radius: 10px;
        top: 20px;
        left: 10px;
        transition: 0.3s ease;
        z-index: 8;
    }
    .Capa-Geral:hover{
        
        transform: scale(1.07);
    }
    .Capa-Geral:hover img{
        
        transform: scale(1.2);
    }
    
    .Item-Geral{
        position: relative;
        top: 120px;
        left: 120px;
        display: inline-flex;
        margin: 10px;
        text-align: center;
        font-size: 200%;
        word-break: break-word;
        width: 340px;
        height: 700px;
        overflow: hidden;
    }
    .Item-Geral p{
        visibility: hidden;
    }
    .Barra-Pesquisa{
        position: absolute;
        left: 870px;
        top: 90px;
    }
    
    .Barra-Pesquisa span{
        transition: 0.3s ease-out;
        font-size: 25px;
        position: relative;
        top: 3px;
        left: 350px;
        z-index: 3;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .Barra-Pesquisa span:hover{
        transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        background-color: #1f1f1f;
        border-radius: 100%;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .Barra-Pesquisa span.expandir{
        font-size: 25px;
        position: relative;
        top: 3px;
        left: 55px;
    }
    .Barra-Pesquisa input{
        position: relative;
        transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        color: white;
        background-color: #1f1f1f;
        font-size: 18px;
        border-radius: 100px;
        padding: 10px;
        right: 10px;
        padding-left:100px ;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
    }
    .Barra-Pesquisa input.expandir{
        position: relative;
        color: white;
        background-color: #1f1f1f;
        font-size: 18px;
        border-radius: 100px;
        right: 0px;
        padding: 10px;
        padding-left:100px ;
        visibility: visible;
        opacity: 1;
    }
    .Barra-Pesquisa select{
        visibility: hidden;
    }
    .paginacaoContainer{
        position: relative;
        left: 120px;
        display: flex;
        flex-wrap: wrap; /* Permite quebra de linha quando o limite da tela é atingido */
        gap: 8px; /* Espaçamento entre os botões */
        justify-content: center; /* Centraliza os botões na horizontal */
        margin-top: 10px;
        width: 1900px;
    }
    
    .botao-paginacao {
        padding: 8px 12px;
        border: none;
        border-radius: 100%;
        background-color: #0e0e0e;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease-out;
    }
    .botao-paginacao:hover{
        background-color: #1f1f1f;
    }
    
}
@media screen and (min-width: 769px) {
    .html{
        height: auto;
        width: auto;
    }
body {
    font-family: var(--fonte-principal);
    background:#000000;
    color: white;
    width: 80%;
    overflow-x:hidden;
    height: 100vh;
    
}
nav.Barra-Lateral{
    width: 150px;
    height: 100%;
    background-color:#0e0e0e ;
    padding: 40px 0 0px 0;
    box-shadow: 0 0 50px #0e0e0e;
    position: fixed;
    top: 0px;
    left: -42px;
    overflow: hidden;
    transition: .4s ease-out;
    z-index: 10;
}
nav.Barra-Lateral.expandir{
    width: 300px;
}
.btn-expandir{
    width: 100%;
    padding-left: 75px;
}
.btn-expandir > i{
    color:white;
    font-size: 30px;
    cursor: pointer;
}
.img--cabeçalho{
    position: relative;
    left: 2%;
    padding-left: 40px;
    transition: .5s;
    opacity: 0;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu{
    transition: 0.5s ease;
    
}
ul li.ativo{
    background-color: #1f1f1f;
}
ul li.item-menu:hover{
    background-color: #353535;
}
ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 0;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .txt-link{
    margin-left: 80px;
    white-space: nowrap;
    transition: .5s;
    opacity: 0;
}
nav.Barra-Lateral.expandir .txt-link{
    margin-left: 45px;
    opacity: 1;
}
ul li.item-menu a .icon > i{
    font-size: 30px;
    padding-left: 35px;

}
.video-js{
    width: 0px;
    left: 0px;
    top: 0px;
}

.header{
    position: absolute;
    background: var(--cinzagra);
    height: 80px;
    width: 100%;
    top: 0px;
    left: 0px;
    color: white;
    z-index: 8  ;
}
.cabeçalho-pesquisa{
    display: inline-block;
    position: absolute;
    left: 79%;
}
.Filmes-Disponiveis{
    display: inline-block;
    position: absolute;
    transform: translate(45%, 100%);
    white-space: nowrap;
    font-size: 30px;
}
.Texto-de-Alerta{
    position: relative;
}
.Alinhar{
    display: inline-block;
    position: absolute;
}
.Filtro{
    position: absolute;
    transform: translate(420%, 340%);
    font-size: 17px;
    background-color: #353535;
    color: white;
    border-radius: 5px;
    text-align: center;
    border-color: #353535;
}
.Texto-Filtro{
    position: absolute;
    transform: translate(250%, 250%);
    white-space: nowrap;
    font-size: 20px;
}
.Lista-Filmes{
    display: inline-block;
    position: absolute;
    transform: translate(70%, 10%);
}

.Capa-Geral{
    position: relative;
    width: 300px;
    height: 500px;
    display: block;
    border-radius: 10px;
    top: 20px;
    left: 10px;
    transition: 0.3s ease;
    z-index: 8;
}
.Capa-Geral:hover{
    
    transform: scale(1.07);
}
.Capa-Geral:hover img{
    
    transform: scale(1.2);
}

.Item-Geral{
    position: relative;
    top: 120px;
    left: 120px;
    display: inline-flex;
    margin: 10px;
    text-align: center;
    font-size: 200%;
    word-break: break-word;
    width: 340px;
    height: 700px;
    overflow: hidden;
}
.Item-Geral p{
    visibility: hidden;
}
.Barra-Pesquisa{
    position: absolute;
    left: 870px;
    top: 90px;
}

.Barra-Pesquisa span{
    transition: 0.3s ease-out;
    font-size: 25px;
    position: relative;
    top: 3px;
    left: 350px;
    z-index: 3;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.Barra-Pesquisa span:hover{
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #1f1f1f;
    border-radius: 100%;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.Barra-Pesquisa span.expandir{
    font-size: 25px;
    position: relative;
    top: 3px;
    left: 55px;
}
.Barra-Pesquisa input{
    position: relative;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: white;
    background-color: #1f1f1f;
    font-size: 18px;
    border-radius: 100px;
    padding: 10px;
    right: 10px;
    padding-left:100px ;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}
.Barra-Pesquisa input.expandir{
    position: relative;
    color: white;
    background-color: #1f1f1f;
    font-size: 18px;
    border-radius: 100px;
    right: 0px;
    padding: 10px;
    padding-left:100px ;
    visibility: visible;
    opacity: 1;
}
.Barra-Pesquisa select{
    visibility: hidden;
}
.paginacaoContainer{
    position: relative;
    left: 120px;
    display: flex;
    flex-wrap: wrap; /* Permite quebra de linha quando o limite da tela é atingido */
    gap: 8px; /* Espaçamento entre os botões */
    justify-content: center; /* Centraliza os botões na horizontal */
    margin-top: 10px;
    width: 1900px;
}

.botao-paginacao {
    padding: 8px 12px;
    border: none;
    border-radius: 100%;
    background-color: #0e0e0e;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}
.botao-paginacao:hover{
    background-color: #1f1f1f;
}
}
