
:root {
    --fonte-principal:"Poppins";
    --vermelho: #E50914;
    --preta: #141414;
    --cinzagra:linear-gradient(0deg, #000000 35.49%, #1f1f1f 165.37%);
    --cinzagraops:linear-gradient(180deg, #000000 35.49%, #1f1f1f 165.37%);
}

body {
    font-family: var(--fonte-principal);
    background:#000000;
    color: white;
    width: 100%;
    overflow-x:hidden;
    height: 100vh;
    
}
.Texto-de-Alerta{
    position: relative;
    left: 120px;
}
nav.Barra-Lateral{
    width: 150px;
    height: 100%;
    background-color:#0e0e0e ;
    padding: 40px 0 0px 0;
    box-shadow: 0 0 50px #0e0e0e;
    position: fixed;
    top: 0px;
    left: -42px;
    overflow: hidden;
    transition: .4s ease-out;
    z-index: 10;
}
nav.Barra-Lateral.expandir{
    width: 300px;
}
.btn-expandir{
    width: 100%;
    padding-left: 75px;
}
.btn-expandir > i{
    color:white;
    font-size: 30px;
    cursor: pointer;
}
.img--cabeçalho{
    position: relative;
    left: 2%;
    padding-left: 40px;
    transition: .5s;
    opacity: 0;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu{
    transition: 0.5s ease;
    
}
ul li.ativo{
    background-color: #1f1f1f;
}
ul li.item-menu:hover{
    background-color: #353535;
}
ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 0;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .txt-link{
    margin-left: 80px;
    white-space: nowrap;
    transition: .5s;
    opacity: 0;
}
nav.Barra-Lateral.expandir .txt-link{
    margin-left: 45px;
    opacity: 1;
}
ul li.item-menu a .icon > i{
    font-size: 30px;
    padding-left: 35px;

}
.video-js{
    width: 0px;
    left: 0px;
    top: 0px;
}

.header{
    position: absolute;
    background: var(--cinzagra);
    height: 80px;
    width: 100%;
    top: 0px;
    left: 0px;
    color: white;
    z-index: 8  ;
}
.cabeçalho-pesquisa{
    display: inline-block;
    position: absolute;
    left: 79%;
}
.Filmes-Disponiveis{
    display: inline-block;
    position: absolute;
    top: 54px;
    left: 190px;
    white-space: nowrap;
    font-size: 30px;
}
.Alinhar{
    display: inline-block;
    position: absolute;
}
.Filtro{
    position: absolute;
    left: 1535px;
    top: 91px;
    font-size: 17px;
    background-color: #353535;
    color: white;
    border-radius: 5px;
    text-align: center;
    border-color: #353535;
}
.Texto-Filtro{
    position: absolute;
    left: 1300px;
    top: 87px;
    white-space: nowrap;
    font-size: 20px;
}
.Lista-Filmes{
    display: inline-block;
    position: absolute;
    left: 45%;
}

#serieList {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    gap: 20px;
    padding: 20px;
    top: 130px;
    left: 120px;
}

.Item-Geral {
    transition: 0.3s ease-in;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: #333;
    white-space: nowrap;
    padding: 50px;
    border-radius: 8px;
    margin: 10px;
}
.Titulo-Geral{
    position: relative;
    left: -10px;
    font-size: 26px;
}
.Titulo-Geral:hover{
    position: relative;
    left: 600px;
    font-size: 26px;
}
.Link-Retorn{
    width: 300px;
    height: 500px;
}
.Capa-Geral {
    transition: 0.3s ease-in-out;
    position:static;
    width: 300px;
    height: 500px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 2;
    transform: scale(1.0);
}
.Capa-Geral:hover {
    transform: scale(1.1);
}
.Episodio-All{
    display: inline-flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    
    padding-right: 150px;
    border-radius: 8px;
    width: 80%;
    left: 250%;
    height: auto;
    
}
.episodio {
    transition: 0.3s ease-in-out;
    position: relative;
    display: inline-block;
    background-color: #555;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    top: 0;
    text-decoration: none;
    font-size: 17px;
    flex-wrap: wrap;
    transition: background-color 0.3s;
    cursor: pointer;
    z-index: 2 ;
    text-overflow: ellipsis;
    transform: scale(1.0);
}

.episodio:hover {
    transform: scale(1.1);
    background-color: #777;
}
.videojs{
    position:fixed;
}
