
:root {
    --fonte-principal:"Poppins";
    --vermelho: #E50914;
    --preta: #141414;
    --cinzagra:linear-gradient(0deg, #000000 35.49%, #1f1f1f 165.37%);
    --cinzagraops:linear-gradient(180deg, #000000 35.49%, #1f1f1f 165.37%);
}

body {
    font-family: var(--fonte-principal);
    background:#000000;
    color: white;
    width: 100%;
    overflow-x:hidden;
    height: 100vh;
    
}
.Texto-de-Alerta{
    position: relative;
    left: 120px;
}
nav.Barra-Lateral{
    width: 150px;
    height: 100%;
    background-color:#0e0e0e ;
    padding: 40px 0 0px 0;
    box-shadow: 0 0 50px #0e0e0e;
    position: fixed;
    top: 0px;
    left: -42px;
    overflow: hidden;
    transition: .4s ease-out;
    z-index: 10;
}
nav.Barra-Lateral.expandir{
    width: 300px;
}
.btn-expandir{
    width: 100%;
    padding-left: 75px;
}
.btn-expandir > i{
    color:white;
    font-size: 30px;
    cursor: pointer;
}
.img--cabeçalho{
    position: relative;
    left: 2%;
    padding-left: 40px;
    transition: .5s;
    opacity: 0;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu{
    transition: 0.5s ease;
    
}
ul li.ativo{
    background-color: #1f1f1f;
}
ul li.item-menu:hover{
    background-color: #353535;
}
ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 0;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .txt-link{
    margin-left: 80px;
    white-space: nowrap;
    transition: .5s;
    opacity: 0;
}
nav.Barra-Lateral.expandir .txt-link{
    margin-left: 45px;
    opacity: 1;
}
ul li.item-menu a .icon > i{
    font-size: 30px;
    padding-left: 35px;

}
.video-js{
    width: 0px;
    left: 0px;
    top: 0px;
}

.header{
    position: absolute;
    background: var(--cinzagra);
    height: 80px;
    width: 100%;
    top: 0px;
    left: 0px;
    color: white;
    z-index: 8  ;
}
.cabeçalho-pesquisa{
    display: inline-block;
    position: absolute;
    left: 79%;
}
.Filmes-Disponiveis{
    display: inline-block;
    position: absolute;
    top: 54px;
    left: 190px;
    white-space: nowrap;
    font-size: 30px;
}
.Alinhar{
    display: inline-block;
    position: absolute;
}
.Filtro{
    position: absolute;
    left: 1535px;
    top: 91px;
    font-size: 17px;
    background-color: #353535;
    color: white;
    border-radius: 5px;
    text-align: center;
    border-color: #353535;
}
.Texto-Filtro{
    position: absolute;
    left: 1300px;
    top: 87px;
    white-space: nowrap;
    font-size: 20px;
}
.Lista-Filmes{
    display: inline-block;
    position: absolute;
    left: 45%;
}
.Titulo-Geral{
    visibility: hidden;
}
.Capa-Geral{
    position: relative;
    width: 300px;
    height: 500px;
    display: block;
    border-radius: 10px;
    top: 20px;
    left: 10px;
    transition: 0.3s ease;
    z-index: 8;
}
.Capa-Geral:hover{
    
    transform: scale(1.07);
}
.Capa-Geral:hover img{
    
    transform: scale(1.2);
}

.Item-Geral{
    position: relative;
    top: 0px;
    left: 95px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    font-size: 200%;
    word-break: break-word;
    width: 340px;
    height: 700px;
    overflow: hidden;
}
.episodio{
    visibility: hidden;
}
