
:root {
    --fonte-principal:"Poppins";
    --vermelho: #E50914;
    --preta: #141414;
    --cinzagra:linear-gradient(0deg, #000000 35.49%, #1f1f1f 165.37%);
    --cinzagraops:linear-gradient(180deg, #000000 35.49%, #1f1f1f 165.37%);
}

body {
    font-family: var(--fonte-principal);
    background:#000000;
    color: white;
    overflow-x:hidden;
    
}
.Texto-de-Alerta{
    position: relative;
    left: 120px;
}
nav.Barra-Lateral{
    width: 150px;
    height: 100%;
    background-color:#0e0e0e ;
    padding: 40px 0 0px 0;
    box-shadow: 0 0 50px #0e0e0e;
    position: fixed;
    top: 0px;
    left: -42px;
    overflow: hidden;
    transition: .4s ease-out;
    z-index: 10;
}
nav.Barra-Lateral.expandir{
    width: 300px;
}
.btn-expandir{
    width: 100%;
    padding-left: 75px;
}
.btn-expandir > i{
    color:white;
    font-size: 30px;
    cursor: pointer;
}
.img--cabeçalho{
    position: relative;
    left: 2%;
    padding-left: 40px;
    transition: .5s;
    opacity: 0;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu{
    transition: 0.5s ease;
    
}
ul li.ativo{
    background-color: #1f1f1f;
}
ul li.item-menu:hover{
    background-color: #353535;
}
ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 0;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .txt-link{
    margin-left: 80px;
    white-space: nowrap;
    transition: .5s;
    opacity: 0;
}
nav.Barra-Lateral.expandir .txt-link{
    margin-left: 45px;
    opacity: 1;
}
ul li.item-menu a .icon > i{
    font-size: 30px;
    padding-left: 35px;

}
.video-js{
    width: 0px;
    left: 0px;
    top: 0px;
}

.header{
    position: absolute;
    background: var(--cinzagra);
    height: 80px;
    width: 100%;
    top: 0px;
    left: 0px;
    color: white;
    z-index: 8  ;
}
.cabeçalho-pesquisa{
    display: inline-block;
    position: absolute;
    left: 79%;
}
.Filmes-Disponiveis{
    display: inline-block;
    position: absolute;
    top: 54px;
    left: 190px;
    white-space: nowrap;
    font-size: 30px;
}
.Alinhar{
    display: inline-block;
    position: absolute;
}
.Filtro{
    position: absolute;
    left: 1335px;
    top: 91px;
    font-size: 17px;
    background-color: #353535;
    color: white;
    border-radius: 5px;
    text-align: center;
    border-color: #353535;
}
.Texto-Filtro{
    position: absolute;
    left: 1100px;
    top: 87px;
    white-space: nowrap;
    font-size: 20px;
}
.Lista-Filmes{
    display: inline-block;
    position: absolute;
    left: 45%;
}
#serieList {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr)); /* Cria colunas flexíveis */
    gap: 16px; /* Espaçamento entre as séries */
    position: relative;
    
    left: 90px;
    top:100px;
}
.serie{
    height: 600px;
    width: 300px;
    padding: 20px;
}
.serie img{
    transition: 0.3s ease-in;
    height: 500px;
    width: 300px;
    border-radius: 10px;
    display: block;
    scale: 1.0;
}
.serie img:hover{
    height: 500px;
    width: 300px;
    border-radius: 10px;
    display: block;
    scale: 1.05;
}
.serie h3{
    position: relative;
    width: 100%;
    text-align: center;
}
.Barra-Pesquisa{
    position: absolute;
    left: 700px;
    top: 90px;
}

.Barra-Pesquisa span{
    transition: 0.3s ease-out;
    font-size: 25px;
    position: relative;
    top: 3px;
    left: 350px;
    z-index: 3;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.Barra-Pesquisa span:hover{
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #1f1f1f;
    border-radius: 100%;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.Barra-Pesquisa span.expandir{
    font-size: 25px;
    position: relative;
    top: 3px;
    left: 55px;
}
.Barra-Pesquisa input{
    position: relative;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: white;
    background-color: #1f1f1f;
    font-size: 18px;
    border-radius: 100px;
    padding: 10px;
    right: 10px;
    padding-left:100px ;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}
.Barra-Pesquisa input.expandir{
    position: relative;
    color: white;
    background-color: #1f1f1f;
    font-size: 18px;
    border-radius: 100px;
    right: 0px;
    padding: 10px;
    padding-left:100px ;
    visibility: visible;
    opacity: 1;
}
.Barra-Pesquisa select{
    visibility: hidden;
}
#paginacaoContainer{
    position: relative;
    top: 70px;
    left: 120px;
    display: flex;
    flex-wrap: wrap; /* Permite quebra de linha quando o limite da tela é atingido */
    gap: 8px; /* Espaçamento entre os botões */
    justify-content: center; /* Centraliza os botões na horizontal */
    margin-top: 10px;
    width: 1900px;
}

.botao-paginacao {
    padding: 8px 12px;
    border: none;
    border-radius: 100%;
    background-color: #0e0e0e;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}
.botao-paginacao:hover{
    background-color: #1f1f1f;
}
.botao-paginacao.ativo{
    background-color: #353535;
}


