body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  color: #fff;
  overflow-y: hidden;
}

#categoriasContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}


.titulo-categoria {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.item-filme:hover {
  transform: scale(1.1);
}

.botao-navegacao {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 1;
  border-radius: 50%;
  padding: 5px;
}

.botao-anterior {
  left: 10px;
}

.botao-proximo {
  right: 10px;
}
.carrossel {
  display: flex;
  gap: 10px;
  overflow-x: hidden;
  scroll-behavior:auto;
  padding: 50px;
}

.categoria {
  margin-bottom: 20px;
}

.categoria:focus {
  outline: 3px solid #1e90ff;
  scroll-margin-top: 20px; /* Garante que a categoria fique visível ao receber foco */
  border-radius: .5vw;
}

.item-filme {
  min-width: 20vw;
  background-color: #222;
  border-radius: 1vw;
  overflow: hidden;
  text-align: center;
  margin-right: .5vw;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.item-filme img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.item-filme:focus {
  outline: 3px solid #ff0000;
  transform: scale(1.1);
  z-index: 1;
  border-radius: 1vw;
}

.lazy {
  background-color: #333; /* Placeholder antes de carregar */
  width: 150px;
  height: 200px;
}
.search {
position: relative;
left: 98vw;
top:5vh;
}
.search svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: white;
  cursor: pointer;
} 

